@import './lib/lib-variables';
@import './lib/lib-reset';

body
{
    font-family: 'Helvetica Neue', Helvetica, 'Lucida Grande', Arial,
    'Hiragino Sans GB', '微软雅黑', 'WenQuanYi Micro Hei', STHeiti, SimSun,
    sans-serif;

    min-width: 1080px;

    background: #e0e0e0;
}

.container
{
    line-height: 1.5;

    display: flex;
    overflow: hidden;

    width: 1080px;
    margin: 0 auto;

    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2),
    0 1px 5px 0 rgba(0, 0, 0, .12);

    .fa
    {
        padding-right: 5px;

        vertical-align: baseline;
    }

    .sidebar
    {
        box-sizing: border-box;
        width: 300px;
        padding: 15px 15px;

        color: #fff;
        background: #00bfa5;

        .avatar
        {
            width: 150px;
            height: 200px;
            margin: 0 auto;

            text-align: center;
        }

        .title
        {
            font-size: 28px;

            text-align: center;
        }

        .personal-info
        {
            .info-item
            {
                overflow: hidden;
            }

            .info-link
            {
                color: #fff;
            }

            .skill
            {
                dd
                {
                    display: flex;
                    align-items: center;
                }
                .skill-name
                {
                    font-size: 14px;

                    width: 32%;
                }
                .skill-bar-wrap
                {
                    display: inline-block;

                    width: 60%;
                    height: 16px;

                    border-radius: 16px;
                    background: #00796b;

                    &:hover
                    {
                        box-shadow: 0 0 10px #fff;
                    }


                    .skill-bar
                    {
                        width: 0;
                        height: 16px;

                        border-radius: 16px 0 0 16px;
                        background: #fff;
                    }
                }
            }



            dt
            {
                font-size: 18px;
                line-height: 40px;

                color: #9f3;
            }
            dd
            {
                font-size: 14px;
                line-height: 20px;

                margin-left: 18px;

                transform: translateX(-120%);
            }
        }
    }
    .main
    {
        flex: 1;

        padding: 15px 20px;

        background: #f0f2f1;
        a
        {
            color: #4db6ac;
        }

        .main-info
        {
            & > li
            {
                padding-top: 20px;
            }

            dt
            {
                font-size: 24px;
                line-height: 30px;

                margin: 0 0 15px -5px;

                color: #00796b;
                border-bottom: 1px solid #00796b;
            }

            .exp
            {
                border-left: 2px solid #00796b;

                .circle
                {
                    position: absolute;
                    top: 5px;
                    left: -28px;

                    float: left;

                    width: 14px;
                    height: 14px;

                    border-radius: 100%;
                    background: #00796b;
                }

                .exp-title
                {
                    font-size: 18px;
                    font-weight: bold;
                    line-height: 30px;

                    position: relative;
                    bottom: 3px;

                    padding-left: 15px;

                    color: #000;
                }

                .exp-sub-title
                {
                    font-size: 15px;

                    padding-left: 51px;
                }

                p
                {
                    font-size: 16px;

                    margin-bottom: 3px;
                    padding-left: 15px;

                    color: #616161;
                }
                img
                {
                    float: left;

                    width: 150px;
                    margin-right: 10px;
                }
            }

            .evaluation,
            .experience
            {
                p
                {
                    text-indent: 2em;
                }
            }
            .experience
            {
                .experience-title
                {
                    font-size: 22px;
                    font-weight: 800;

                    color: #004d40;
                }
            }
        }
    }
}

.footer
{
    margin: 30px 0 20px;
    p
    {
        font-size: 14px;

        text-align: center;

        color: #616161;
    }
    a
    {
        color: #616161;
    }
}

.throb
{
    animation: throb 1.33s ease-in-out infinite;
}


@keyframes throb
{
    0%
    {
        transform: scale(1);
    }
    50%
    {
        transform: scale(.8);
    }
    100%
    {
        transform: scale(1);
    }
}

@keyframes blink
{
    0%
    {
        transform: scale(.1);
    }
    10%
    {
        transform: scale(1);
    }
    100%
    {
        transform: scale(1);
    }
}

@keyframes slideOut
{
    to
    {
        transform: translateX(0);
    }
}

@for $rank from 1 through 4
{
    @keyframes percent#{$rank}
    {
        to
        {
            width: $rank * 25%;
        }
    }
}
