@import './lib/lib-variables';
@import './lib/lib-reset';

.clearfix
{
    clear: both;
}

body
{
    font-family: 'Helvetica Neue', Helvetica, 'Lucida Grande', Arial,
    'Hiragino Sans GB', '微软雅黑', 'WenQuanYi Micro Hei', STHeiti, SimSun,
    sans-serif;

    min-width: 1080px;

    background: #e0e0e0;
}

h1
{
    font-size: 28px;
    font-weight: normal;
}

h2
{
    font-size: 22px;
    font-weight: 800;

    color: #004d40;
    &.exp-title
    {
        margin: 10px 0;
    }
}

h3
{
    font-size: 19px;
    font-weight: bold;

    margin: 0 0 15px 5px;

    color: #004d40;
}

h4
{
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;

    position: relative;
    bottom: 3px;

    color: #000;
}

h5
{
    font-size: 16px;
    line-height: 25px;

    clear: both;

    color: #000;
}

h4 a,
h5 a
{
    font-size: 12px;

    margin-left: 7px;
    padding: 1px 3px;

    text-decoration: none;

    border: 1px solid #4db6ac;
    border-radius: 5px;
}

.container
{
    position: relative;

    width: 1060px;
    margin: 10px auto;

    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2),
    0 1px 5px 0 rgba(0, 0, 0, .12);
}

.sidebar
{
    line-height: 1.5;

    position: absolute;
    top: 0;
    bottom: 0;

    box-sizing: border-box;
    width: 300px;
    padding: 15px 15px;

    color: #fff;
    background: #00bfa5;
    a
    {
        color: #fff;
    }
}
.title
{
    margin: 25px 0 20px;

    text-align: center;
    img
    {
        display: block;

        width: 120px;
        margin: 0 auto 15px;
    }
}
.side-info
{
    li
    {
        padding-top: 20px;
    }

    dt
    {
        font-size: 18px;
        line-height: 40px;

        color: #9f3;
    }
    dd
    {
        font-size: 14px;
        line-height: 20px;
    }
}

.someRight dd
{
    margin-left: 25px;
}

.skill
{
    position: relative;
}

.skill-name
{
    font-size: 14px;

    position: relative;
    top: -3px;
    left: 25px;

    display: inline-block;

    width: 100px;
}

.skill-bar-wrap
{
    display: inline-block;

    width: 150px;
    height: 17px;

    border-radius: 20px;
    background: #00796b;
}

.skill-bar
{
    height: 17px;

    border-radius: 20px 0 0 20px;
    background: #fff;
}

.note
{
    font-size: 18px;

    margin-top: 90px;

    text-indent: 2em;

    color: #004d40;
}

.main
{
    position: relative;
    left: 300px;

    width: 720px;
    padding: 15px 20px;

    background: #f0f2f1;
    a
    {
        color: #4db6ac;
    }
}
.main-info
{
    & > li
    {
        padding-top: 20px;
    }

    dt
    {
        font-size: 24px;
        line-height: 30px;

        margin: 0 0 15px -5px;

        color: #00796b;
        border-bottom: 1px solid #00796b;
    }

    dd
    {
        font-size: 15px;
        line-height: 27px;

        color: #616161;
    }

    span
    {
        font-size: 16px;

        color: #000;
    }
}

.fa
{
    margin-right: 2px;
}

.circle
{
    position: absolute;
    top: 5px;
    left: -28px;

    float: left;

    width: 14px;
    height: 14px;

    border-radius: 100%;
    background: #00796b;
}

.exp
{
    margin-left: 15px;

    border-left: 2px solid #00796b;
    p
    {
        font-size: 15px;
        line-height: 22px;

        margin-bottom: 3px;

        color: #616161;
    }
    img
    {
        float: left;

        width: 150px;
        margin-right: 10px;
    }
    & > li
    {
        position: relative;
        top: -5px;

        margin: 20px 0 20px 20px;
    }
    ul > li
    {
        margin: 0 0 5px 0;
    }
}

.experience p
{
    text-indent: 20px;
}

.skill .exp
{
    border-left: 0;
    li
    {
        list-style: circle;
    }
}

.efe .task4img img
{
    width: inherit;
    height: 97px;
}

footer
{
    margin: 30px 0 20px;
    p
    {
        font-size: 14px;

        text-align: center;

        color: #616161;
    }
    a
    {
        color: #616161;
    }
}

.throb
{
    animation: throb 1.33s ease-in-out infinite;
}

svg
{
    size: 150px 200px;
}

@keyframes throb
{
    0%
    {
        transform: scale(1);
    }
    50%
    {
        transform: scale(.8);
    }
    100%
    {
        transform: scale(1);
    }
}

@keyframes blink
{
    0%
    {
        transform: scale(.1);
    }
    10%
    {
        transform: scale(1);
    }
    100%
    {
        transform: scale(1);
    }
}
