@import 'lib/lib-variables.scss';

html,
body
{
    height: 100%;
}
body.print
{
    .sidebar
    {
        .avatar
        {
            height: 180px;
            .avatar-img
            {
                width: 120px;
                margin-top: 24px;
            }
        }
        .personal-info
        {
            dd
            {
                line-height: 1.5;

                transform: translateX(0);
            }
        }
    }
    .container
    {
        .main
        {
            padding-bottom: 70px;
            .main-info .exp p
            {
                font-size: 18px;
            }
        }
    }
}
